name: Sync Version

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:
    inputs:
  push:

jobs:
  automated_task:
    runs-on: ubuntu-latest
    steps:
    - name: Clone
      uses: actions/checkout@v4

    - name: Tools
      run: sudo apt-get update && sudo apt-get install -y git curl jq

    - name: Commit
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        date "+%w" | md5sum > checksum
        git add checksum
        (git commit -m "chore" && git push) >/dev/null 2>&1 &

    - name: Apply
      run: |
        echo "${{ secrets.ENV }}" | base64 -d | sudo bash
